{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/styles3.css' %}" />
        <title>SignUp</title>
    </head>
    <body>
    <h6><a href="{% url 'index' %}" class="btn-home">Powrót do strony głównej</a></h6>
    <div class="opis">
        <h4>
            <p>Witaj w My Wallet - Twoim osobistym asystencie finansowym!</p>
            <p>Zarejestruj się już teraz, aby zacząć korzystać z funkcji, które pomogą Ci lepiej zarządzać swoimi finansami.</p> 
        </h4>
        <h6>
            <p>Korzyści z rejestracji:</p>
            <p>- Personalizowane konto finansowe</p>
            <p>- Łatwe śledzenie wpływów i wydatków</p>
            <p>- Ustawianie celów oszczędnościowych</p>
            <p>- Dostęp do inteligentnych narzędzi zarządzania finansami</p>
        </h6>
    </div>
        <div class="bg" aria-hidden="true">
            <div class="bg__dot"></div>
            <div class="bg__dot"></div>
        </div>
        <form method='post' class="form" autocomplete="off">
            <div class="form__icon" aria-hidden="true"></div>
            <div class="form__input-container">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="form__button">Wyślij</button>
            </div>
        </form>
    </body>
</html>