{% extends 'dash.html' %}

{% block content %}
    <div class="container mt-4">
        <h2>Twoje cele oszczędnościowe:</h2>
    <a href="{% url 'savings_add' %}" class="btn btn-success mt-3"><i class="fas fa-plus"></i> Dodaj cel oszczędnościowy</a>
        <ul class="list-group">
            {% for saving in savings %}
                <li class="list-group-item">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="saving-details">
                            <h4>
                                <div>{{ saving.name }}</div>
                                <div>
                                    <a href="{% url 'saving_edit' saving.id %}" style="color: blue; font-size: 17px;">Edytuj</a>
                                    <form method="post" action="{% url 'savings_delete' saving.id %}" style="display: inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="btn" style="color: orangered; text-decoration: underline;">Usuń cel</button>
                                    </form>
                                </div>
                            </h4>


                        
                            <p>Cel: {{ saving.goal_amount }} zł</p>
                            <p>Obecnie: {{ saving.current_amount }} zł</p>
                            <p>Miesięczna wpłata aby osiągnąć cel: {{ saving.monthly_deposit|floatformat:2 }} zł</p>
                            <p>Ostatnia wpłata: {{ saving.last_deposit_date }}</p>
                            <p>Pozostało: {{ saving.remaining_amount }} zł</p>
                        
                            {% if saving.remaining_amount == 0 %}
                                <p style="color: orangered">Gratulacje! Osiągnąłeś swój cel oszczędnościowy!</p>
                            {% endif %}
                        </div>
                             {% if invalid_saving_id == saving.id %}
                                {{ error_message }}
                            {% endif %}
                            <form class="d-flex" method="post" action="{% url 'add_money_to_savings' saving.id %}">
                            {% csrf_token %}
                            <div class="input-group">
                                <input class="form-control" type="number" name="amount" step="0.01" placeholder="Wprowadź kwotę">
                                <div class="input-group-append">
                                    <button class="btn btn-success" type="submit"> Dodaj</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}